// Background
.yu-bg-light { background-color: $color-light!important; }

.yu-bg-lighter { background-color: $color-lighter!important; }

.yu-bg-red { background-color: $color-red!important; }

.yu-bg-v-red { background-color: $color-v-red!important; }

.yu-bg-blue { background-color: $color-blue!important; }

.yu-bg-dark { background-color: $color-dark!important; }

// Border
.border-10 { border: 10px solid; }

.border-color-white { border-color: white; }

// Font Color
.yu-text-blue { color: $color-blue; }

.yu-text-dark { color: $color-dark; }

.yu-text-light { color: $color-light; }

.yu-text-lighter { color: $color-lighter; }

.yu-text-red { color: $color-red; }

.yu-text-red { color: $color-v-red; }

.yu-text-v-lighter { color: $color-v-lighter; }

// Font Weight
.yu-fw-600 { font-weight: 600!important; }

.yu-container { max-width: 1400px!important; }

// Radius
.yu-rounded { border-radius: 20px!important; }

.yu-t-rounded { 
  border-top-left-radius: 20px!important;
  border-top-right-radius: 20px!important;
}

.yu-tl-rounded-10 { border-top-left-radius: 10px; }
.yu-tr-rounded-10 { border-top-right-radius: 10px; }
.yu-bl-rounded-10 { border-bottom-left-radius: 10px; }
.yu-br-rounded-10 { border-bottom-right-radius: 10px; }

// Shadow
.yu-shadow-sm { box-shadow: $shadow-sm; }

// Transition
.transition-100 { transition: 100ms; }

// ================= HOVER ====================
// Hover Translate
.--hover-translate-x {
  &:hover { transform: translateX(5px); }
}

