$color-v-lighter: #606c82;
$color-lighter: #ecf1f9;
$color-light: #e2eef1;
$color-red: #ea5462;
$color-v-red: #e22133;
$color-blue: #5691fe;
$color-dark: #183b56;

// Shadow
$shadow-sm: 0 2px 4px rgba(126, 142, 177, .12156862745098039) !important